$white-c: #fff;
$gold-c: #FFC700;
$gray-c: rgba(255, 255, 255, 0.5);
$light-white-c: #B5B5B8;
$dark-blue-c: #13003C;
$dark-green-c: #023926;
$darker-green-c: #0B422D;
$light-green-c: #008653;

$fw-bold: 700;

$fz-48: 48px;
$fz-32: 32px;
$fz-24: 24px;
$fz-20: 20px;
$fz-16: 16px;
$fz-15: 15px;
$fz-13: 13px;

$lh-69: 69px;
$lh-46: 46px;
$lh-35: 35px;
$lh-29: 29px;
$lh-22: 22px;
$lh-19: 19px;